# Prevendo dempenho de alunos no ENEM uitlizando modelos de Regressao Linear

### Carregando as bibliotecas necessarias

In [1]:
import pandas as pd
import numpy as np

### Carregando os dados

In [2]:
df_enem = pd.read_csv("./DADOS/dado_mg.csv",sep=";")

In [3]:
df_enem.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001237802,2019,3118601,Contagem,31,MG,22.0,F,1,1,...,B,A,A,B,A,A,C,B,B,B
1,190001237803,2019,3170206,Uberlândia,31,MG,30.0,F,1,2,...,A,A,A,B,A,A,B,A,A,A
2,190001237804,2019,3124104,Esmeraldas,31,MG,27.0,M,1,3,...,A,A,A,B,A,B,C,A,A,A
3,190001237805,2019,3118304,Conselheiro Lafaiete,31,MG,22.0,F,1,1,...,B,A,B,C,B,A,E,A,B,B
4,190001237806,2019,3162922,São Joaquim de Bicas,31,MG,23.0,F,1,4,...,B,A,A,B,B,A,C,A,B,B

In [4]:
df_enem.describe()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,NU_IDADE,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_MUNICIPIO_NASCIMENTO,CO_UF_NASCIMENTO,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q005
count,5.346270e+05,534627.0,5.346270e+05,534627.000000,534620.000000,534627.000000,534627.000000,534627.000000,5.186420e+05,518642.000000,...,390855.000000,534627.000000,411175.000000,411175.000000,411175.000000,411175.000000,411175.000000,411175.000000,411175.000000,534627.000000
mean,1.900035e+11,2019.0,3.136478e+06,31.021774,22.038278,1.087407,2.072013,1.031239,3.152459e+06,31.205816,...,546.987343,0.424584,1.104877,124.688758,127.733933,119.337508,126.207868,99.245869,597.213936,3.749148
std,1.506475e+06,0.0,6.714492e+04,0.639170,7.470671,0.428752,1.006661,0.210197,2.505415e+05,2.503854,...,115.132503,0.494280,0.677591,32.364600,43.910908,40.954206,38.796806,60.659416,192.931916,1.354948
min,1.900010e+11,2019.0,1.100015e+06,11.000000,10.000000,0.000000,0.000000,0.000000,1.100015e+06,11.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,1.900022e+11,2019.0,3.111200e+06,31.000000,18.000000,1.000000,1.000000,1.000000,3.106705e+06,31.000000,...,451.900000,0.000000,1.000000,120.000000,120.000000,100.000000,100.000000,60.000000,500.000000,3.000000
50%,1.900035e+11,2019.0,3.135100e+06,31.000000,19.000000,1.000000,2.000000,1.000000,3.134202e+06,31.000000,...,531.600000,0.000000,1.000000,120.000000,120.000000,120.000000,120.000000,100.000000,600.000000,4.000000
75%,1.900050e+11,2019.0,3.152808e+06,31.000000,23.000000,1.000000,3.000000,1.000000,3.154002e+06,31.000000,...,630.100000,1.000000,1.000000,140.000000,160.000000,140.000000,140.000000,140.000000,720.000000,4.000000
max,1.900061e+11,2019.0,5.300108e+06,53.000000,91.000000,4.000000,5.000000,4.000000,5.300108e+06,53.000000,...,985.500000,1.000000,9.000000,200.000000,200.000000,200.000000,200.000000,200.000000,1000.000000,20.000000

In [5]:
df_enem.shape

(534627, 136)

### Engenharia de atributos

In [6]:
#Removendo colunas com informacoes duplicadas ou que nao utilizaremos
#NU_ANO - todos os registros sao desse ano

#As demais colunas possuem informacoes em outras colunas utilizando sigla
# CO_MUNICIPIO_RESIDENCIA
# CO_UF_RESIDENCIA
# CO_MUNICIPIO_NASCIMENTO
# CO_MUNICIPIO_ESC
# CO_UF_ESC
# CO_MUNICIPIO_PROVA
# CO_UF_PROVA
# CO_UF_NASCIMENTO

In [7]:
colunas = ['NU_ANO',"CO_MUNICIPIO_RESIDENCIA",
"CO_UF_RESIDENCIA", "CO_MUNICIPIO_NASCIMENTO","CO_MUNICIPIO_ESC",
"CO_UF_ESC","CO_MUNICIPIO_PROVA","CO_UF_PROVA",'CO_UF_NASCIMENTO']

In [8]:
df_enem.drop(columns=colunas, inplace=True)

In [9]:
df_enem.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,NO_MUNICIPIO_NASCIMENTO,SG_UF_NASCIMENTO,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001237802,Contagem,MG,22.0,F,1,1,1,Contagem,MG,...,B,A,A,B,A,A,C,B,B,B
1,190001237803,Uberlândia,MG,30.0,F,1,2,1,Uberlândia,MG,...,A,A,A,B,A,A,B,A,A,A
2,190001237804,Esmeraldas,MG,27.0,M,1,3,2,NaN,NaN,...,A,A,A,B,A,B,C,A,A,A
3,190001237805,Conselheiro Lafaiete,MG,22.0,F,1,1,1,Conselheiro Lafaiete,MG,...,B,A,B,C,B,A,E,A,B,B
4,190001237806,São Joaquim de Bicas,MG,23.0,F,1,4,1,Contagem,MG,...,B,A,A,B,B,A,C,A,B,B

In [10]:
#Verificar a quantidade de registros por estado
df_enem['SG_UF_RESIDENCIA'].value_counts()

MG    531549
SP      1235
RJ       684
BA       326
GO       262
ES       211
DF        55
PA        47
MA        31
PR        29
CE        23
MT        20
RS        18
MS        18
PI        18
PE        13
SC        12
AL        11
RN        11
TO        10
AM        10
RO        10
SE         9
PB         8
AC         5
RR         2
Name: SG_UF_RESIDENCIA, dtype: int64

In [11]:
# Nao usaremos essa coluna e a de cidade pois 95% dos registros sao de minas gerais. Utilizaremos somente a coluna de naturalidade e municipio da prova para possiveis analises regionais
df_enem.drop(columns=['SG_UF_RESIDENCIA','NO_MUNICIPIO_RESIDENCIA','NO_MUNICIPIO_NASCIMENTO','SG_UF_NASCIMENTO','NO_MUNICIPIO_ESC','SG_UF_ESC','SG_UF_PROVA'], inplace=True)

In [12]:
df_enem.head()

,NU_INSCRICAO,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001237802,22.0,F,1,1,1,1,4,1,1.0,...,B,A,A,B,A,A,C,B,B,B
1,190001237803,30.0,F,1,2,1,2,0,2,2.0,...,A,A,A,B,A,A,B,A,A,A
2,190001237804,27.0,M,1,3,2,1,2,1,NaN,...,A,A,A,B,A,B,C,A,A,A
3,190001237805,22.0,F,1,1,1,1,5,1,1.0,...,B,A,B,C,B,A,E,A,B,B
4,190001237806,23.0,F,1,4,1,1,5,1,1.0,...,B,A,A,B,B,A,C,A,B,B

In [13]:
# Transformando colunas em categoricas:
# TP_ESTADO_CIVIL
# TP_COR_RACA
# TP_NACIONALIDADE
# TP_ESCOLA

In [14]:
df_enem['TP_ESTADO_CIVIL'].value_counts()

1    466801
2     41415
0     16070
3      9638
4       703
Name: TP_ESTADO_CIVIL, dtype: int64

In [15]:
df_enem['TP_ESTADO_CIVIL'] = np.where(df_enem['TP_ESTADO_CIVIL']==0, "?",np.where(df_enem['TP_ESTADO_CIVIL']==1, "Solteiro",np.where(df_enem['TP_ESTADO_CIVIL']==2,"Casado", np.where(df_enem['TP_ESTADO_CIVIL']==3,"Divorciado","Viuvo"))))

In [16]:
df_enem['TP_ESTADO_CIVIL'].value_counts()

Solteiro      466801
Casado         41415
?              16070
Divorciado      9638
Viuvo            703
Name: TP_ESTADO_CIVIL, dtype: int64

In [17]:
df_enem['TP_COR_RACA'].value_counts()

3    232461
1    202228
2     75148
4     11788
0     10863
5      2139
Name: TP_COR_RACA, dtype: int64

In [18]:
df_enem['TP_COR_RACA'] = np.where(df_enem['TP_COR_RACA']==0, "?",np.where(df_enem['TP_COR_RACA']==1, "Branca",np.where(df_enem['TP_COR_RACA']==2,"Preta", np.where(df_enem['TP_COR_RACA']==3,"Parda",np.where(df_enem['TP_COR_RACA']==4,"Amarela", "Indigena")))))

In [19]:
df_enem['TP_COR_RACA'].value_counts()

Parda       232461
Branca      202228
Preta        75148
Amarela      11788
?            10863
Indigena      2139
Name: TP_COR_RACA, dtype: int64

In [20]:
df_enem['TP_NACIONALIDADE'].value_counts()

1    518642
2     14026
4       881
0       708
3       370
Name: TP_NACIONALIDADE, dtype: int64

In [21]:
df_enem['TP_NACIONALIDADE'] = np.where(df_enem['TP_NACIONALIDADE']==0, "?",np.where(df_enem['TP_NACIONALIDADE']==1, "Brasileira",np.where(df_enem['TP_NACIONALIDADE']==2,"Naturalizado", np.where(df_enem['TP_NACIONALIDADE']==3,"Estrangeira","Nascido_exterior"))))

In [22]:
df_enem['TP_NACIONALIDADE'].value_counts()

Brasileira          518642
Naturalizado         14026
Nascido_exterior       881
?                      708
Estrangeira            370
Name: TP_NACIONALIDADE, dtype: int64

In [23]:
df_enem['TP_ESCOLA'].value_counts()

1    392867
2    124911
3     16849
Name: TP_ESCOLA, dtype: int64

In [24]:
df_enem['TP_ESCOLA'] = np.where(df_enem['TP_ESCOLA']==1, "?",np.where(df_enem['TP_ESCOLA']==2, "Publica",np.where(df_enem['TP_ESCOLA']==3, "Privada","Exterior")))

In [25]:
df_enem['TP_ESCOLA'].value_counts()

?          392867
Publica    124911
Privada     16849
Name: TP_ESCOLA, dtype: int64

In [26]:
# Simplificar atendimentos especializados
df_enem['ATENDIMENTOS_ESPECIALIZADOS'] = np.where((df_enem['IN_BAIXA_VISAO']+df_enem['IN_CEGUEIRA']+df_enem['IN_SURDEZ']+df_enem['IN_DEFICIENCIA_AUDITIVA']+df_enem['IN_SURDO_CEGUEIRA']+df_enem['IN_DEFICIENCIA_FISICA']+df_enem['IN_DEFICIENCIA_MENTAL']+df_enem['IN_DEFICIT_ATENCAO']+df_enem['IN_DISLEXIA']+df_enem['IN_DISCALCULIA']+df_enem['IN_AUTISMO']+df_enem['IN_VISAO_MONOCULAR']+df_enem['IN_OUTRA_DEF'])==0, "Nao","Sim")

In [27]:
# Remover as colunas simplificadas
colunas=['IN_BAIXA_VISAO','IN_CEGUEIRA','IN_SURDEZ','IN_DEFICIENCIA_AUDITIVA','IN_SURDO_CEGUEIRA','IN_DEFICIENCIA_FISICA','IN_DEFICIENCIA_MENTAL','IN_DEFICIT_ATENCAO','IN_DISLEXIA','IN_DISCALCULIA','IN_AUTISMO','IN_VISAO_MONOCULAR','IN_OUTRA_DEF']
df_enem.drop(columns=colunas, inplace=True)
df_enem.head()

,NU_INSCRICAO,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,ATENDIMENTOS_ESPECIALIZADOS
0,190001237802,22.0,F,Solteiro,Branca,Brasileira,1,4,?,1.0,...,A,A,B,A,A,C,B,B,B,Nao
1,190001237803,30.0,F,Solteiro,Preta,Brasileira,2,0,Publica,2.0,...,A,A,B,A,A,B,A,A,A,Nao
2,190001237804,27.0,M,Solteiro,Parda,Naturalizado,1,2,?,NaN,...,A,A,B,A,B,C,A,A,A,Nao
3,190001237805,22.0,F,Solteiro,Branca,Brasileira,1,5,?,1.0,...,A,B,C,B,A,E,A,B,B,Nao
4,190001237806,23.0,F,Solteiro,Amarela,Brasileira,1,5,?,1.0,...,A,A,B,B,A,C,A,B,B,Nao

In [28]:
#Simplificar as colunas de solicitacao de recurso. Verificar primeiro a coluna de solicitacao
df_enem_rec = df_enem[df_enem['IN_SEM_RECURSO']==1]
total_solicitacoes = df_enem_rec['IN_BRAILLE'].sum() + df_enem_rec['IN_AMPLIADA_24'].sum() + df_enem_rec['IN_AMPLIADA_18'].sum() + df_enem_rec['IN_LEDOR'].sum() + df_enem_rec['IN_ACESSO'].sum() + df_enem_rec['IN_TRANSCRICAO'].sum() + df_enem_rec['IN_LIBRAS'].sum() + df_enem_rec['IN_TEMPO_ADICIONAL'].sum() + df_enem_rec['IN_LEITURA_LABIAL'].sum() + df_enem_rec['IN_MESA_CADEIRA_RODAS'].sum() + df_enem_rec['IN_MESA_CADEIRA_SEPARADA'].sum() + df_enem_rec['IN_APOIO_PERNA'].sum() + df_enem_rec['IN_GUIA_INTERPRETE'].sum() + df_enem_rec['IN_COMPUTADOR'].sum() + df_enem_rec['IN_CADEIRA_ESPECIAL'].sum() + df_enem_rec['IN_CADEIRA_CANHOTO'].sum() + df_enem_rec['IN_CADEIRA_ACOLCHOADA'].sum() + df_enem_rec['IN_PROVA_DEITADO'].sum() + df_enem_rec['IN_MOBILIARIO_OBESO'].sum() + df_enem_rec['IN_LAMINA_OVERLAY'].sum() + df_enem_rec['IN_PROTETOR_AURICULAR'].sum() + df_enem_rec['IN_MEDIDOR_GLICOSE'].sum() + df_enem_rec['IN_MAQUINA_BRAILE'].sum() + df_enem_rec['IN_SOROBAN'].sum() + df_enem_rec['IN_MARCA_PASSO'].sum() + df_enem_rec['IN_SONDA'].sum() + df_enem_rec['IN_MEDICAMENTOS'].sum() + df_enem_rec['IN_SALA_INDIVIDUAL'].sum() + df_enem_rec['IN_SALA_ESPECIAL'].sum() + df_enem_rec['IN_SALA_ACOMPANHANTE'].sum() + df_enem_rec['IN_MOBILIARIO_ESPECIFICO'].sum() + df_enem_rec['IN_MATERIAL_ESPECIFICO'].sum() + df_enem_rec['IN_NOME_SOCIAL'].sum()
print("Recursos:",df_enem['IN_SEM_RECURSO'].value_counts())
print("Total solicitacoes quando IN_SEM_RECURSO = 1:",total_solicitacoes)

Recursos: 0    533976
1       651
Name: IN_SEM_RECURSO, dtype: int64
Total solicitacoes quando IN_SEM_RECURSO = 1: 0

In [29]:
df_enem_rec = df_enem[df_enem['IN_SEM_RECURSO']==0]
total_solicitacoes = df_enem_rec['IN_BRAILLE'].sum() + df_enem_rec['IN_AMPLIADA_24'].sum() + df_enem_rec['IN_AMPLIADA_18'].sum() + df_enem_rec['IN_LEDOR'].sum() + df_enem_rec['IN_ACESSO'].sum() + df_enem_rec['IN_TRANSCRICAO'].sum() + df_enem_rec['IN_LIBRAS'].sum() + df_enem_rec['IN_TEMPO_ADICIONAL'].sum() + df_enem_rec['IN_LEITURA_LABIAL'].sum() + df_enem_rec['IN_MESA_CADEIRA_RODAS'].sum() + df_enem_rec['IN_MESA_CADEIRA_SEPARADA'].sum() + df_enem_rec['IN_APOIO_PERNA'].sum() + df_enem_rec['IN_GUIA_INTERPRETE'].sum() + df_enem_rec['IN_COMPUTADOR'].sum() + df_enem_rec['IN_CADEIRA_ESPECIAL'].sum() + df_enem_rec['IN_CADEIRA_CANHOTO'].sum() + df_enem_rec['IN_CADEIRA_ACOLCHOADA'].sum() + df_enem_rec['IN_PROVA_DEITADO'].sum() + df_enem_rec['IN_MOBILIARIO_OBESO'].sum() + df_enem_rec['IN_LAMINA_OVERLAY'].sum() + df_enem_rec['IN_PROTETOR_AURICULAR'].sum() + df_enem_rec['IN_MEDIDOR_GLICOSE'].sum() + df_enem_rec['IN_MAQUINA_BRAILE'].sum() + df_enem_rec['IN_SOROBAN'].sum() + df_enem_rec['IN_MARCA_PASSO'].sum() + df_enem_rec['IN_SONDA'].sum() + df_enem_rec['IN_MEDICAMENTOS'].sum() + df_enem_rec['IN_SALA_INDIVIDUAL'].sum() + df_enem_rec['IN_SALA_ESPECIAL'].sum() + df_enem_rec['IN_SALA_ACOMPANHANTE'].sum() + df_enem_rec['IN_MOBILIARIO_ESPECIFICO'].sum() + df_enem_rec['IN_MATERIAL_ESPECIFICO'].sum() + df_enem_rec['IN_NOME_SOCIAL'].sum()
print("Recursos:",df_enem['IN_SEM_RECURSO'].value_counts())
print("Total solicitacoes quando IN_SEM_RECURSO = 0 (solicitou recurso):",total_solicitacoes)

Recursos: 0    533976
1       651
Name: IN_SEM_RECURSO, dtype: int64
Total solicitacoes quando IN_SEM_RECURSO = 0 (solicitou recurso): 6431

In [30]:
# Foi possivel observar que as colunas de recurso correspondem a coluna IN_SEM_RECURSO, entretanto, para quem solicitou recursos pode ter feito mais de uma solicitacao, por isso iremos criar uma coluna QTD_RECURSOS e manter a IN_SEM_RECURSO, as demais serao apagadas
df_enem['QTD_RECURSOS']= df_enem['IN_BRAILLE'] + df_enem['IN_AMPLIADA_24'] + df_enem['IN_AMPLIADA_18'] + df_enem['IN_LEDOR'] + df_enem['IN_ACESSO'] + df_enem['IN_TRANSCRICAO'] + df_enem['IN_LIBRAS'] + df_enem['IN_TEMPO_ADICIONAL'] + df_enem['IN_LEITURA_LABIAL'] + df_enem['IN_MESA_CADEIRA_RODAS'] + df_enem['IN_MESA_CADEIRA_SEPARADA'] + df_enem['IN_APOIO_PERNA'] + df_enem['IN_GUIA_INTERPRETE'] + df_enem['IN_COMPUTADOR'] + df_enem['IN_CADEIRA_ESPECIAL'] + df_enem['IN_CADEIRA_CANHOTO'] + df_enem['IN_CADEIRA_ACOLCHOADA'] + df_enem['IN_PROVA_DEITADO'] + df_enem['IN_MOBILIARIO_OBESO'] + df_enem['IN_LAMINA_OVERLAY'] + df_enem['IN_PROTETOR_AURICULAR'] + df_enem['IN_MEDIDOR_GLICOSE'] + df_enem['IN_MAQUINA_BRAILE'] + df_enem['IN_SOROBAN'] + df_enem['IN_MARCA_PASSO'] + df_enem['IN_SONDA'] + df_enem['IN_MEDICAMENTOS'] + df_enem['IN_SALA_INDIVIDUAL'] + df_enem['IN_SALA_ESPECIAL'] + df_enem['IN_SALA_ACOMPANHANTE'] + df_enem['IN_MOBILIARIO_ESPECIFICO'] + df_enem['IN_MATERIAL_ESPECIFICO'] + df_enem['IN_NOME_SOCIAL']
df_enem['QTD_RECURSOS'].value_counts()

0    530408
1      2904
2       724
3       392
4       127
5        46
6        18
7         7
8         1
Name: QTD_RECURSOS, dtype: int64

In [31]:
#Remover as colunas de solicitacao
colunas = ['IN_BRAILLE','IN_AMPLIADA_24','IN_AMPLIADA_18','IN_LEDOR','IN_ACESSO','IN_TRANSCRICAO','IN_LIBRAS','IN_TEMPO_ADICIONAL','IN_LEITURA_LABIAL','IN_MESA_CADEIRA_RODAS','IN_MESA_CADEIRA_SEPARADA','IN_APOIO_PERNA','IN_GUIA_INTERPRETE','IN_COMPUTADOR','IN_CADEIRA_ESPECIAL','IN_CADEIRA_CANHOTO','IN_CADEIRA_ACOLCHOADA','IN_PROVA_DEITADO','IN_MOBILIARIO_OBESO','IN_LAMINA_OVERLAY','IN_PROTETOR_AURICULAR','IN_MEDIDOR_GLICOSE','IN_MAQUINA_BRAILE','IN_SOROBAN','IN_MARCA_PASSO','IN_SONDA','IN_MEDICAMENTOS','IN_SALA_INDIVIDUAL','IN_SALA_ESPECIAL','IN_SALA_ACOMPANHANTE','IN_MOBILIARIO_ESPECIFICO','IN_MATERIAL_ESPECIFICO','IN_NOME_SOCIAL']
df_enem.drop(columns=colunas, inplace=True)
df_enem.head()

,NU_INSCRICAO,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,ATENDIMENTOS_ESPECIALIZADOS,QTD_RECURSOS
0,190001237802,22.0,F,Solteiro,Branca,Brasileira,1,4,?,1.0,...,A,B,A,A,C,B,B,B,Nao,0
1,190001237803,30.0,F,Solteiro,Preta,Brasileira,2,0,Publica,2.0,...,A,B,A,A,B,A,A,A,Nao,0
2,190001237804,27.0,M,Solteiro,Parda,Naturalizado,1,2,?,NaN,...,A,B,A,B,C,A,A,A,Nao,0
3,190001237805,22.0,F,Solteiro,Branca,Brasileira,1,5,?,1.0,...,B,C,B,A,E,A,B,B,Nao,0
4,190001237806,23.0,F,Solteiro,Amarela,Brasileira,1,5,?,1.0,...,A,B,B,A,C,A,B,B,Nao,0

In [32]:
# Ajustar escolaridade do pai e mae simplificando por completude de ensino fundamental, medio, graduacao, pos, nao sabe
# 'A':'Nunca estudou'
# 'B':'Não completou EF' -> EF = Ensino Fundamental
# 'C':'Não completou EF' -> EF = Ensino Fundamental
# 'D':'Não completou EM' -> EM = Ensino Medio
# 'E':'Não completou ES' -> ES = Ensino Superior
# 'F':'raduacao'
# 'G':'Pós-graduacao'
# 'H':'Não sabe'
df_enem['ESCOLARIDADE_PAI'] = df_enem['Q001'].map({'A':'Nunca estudou', 'B':'Não completou EF', 'C':'Completou EF','D':'Não completou EM', 'E':'Não completou ES', 'F':'Graduacao','G':'Pós-graduacao','H':'Não sabe'})
df_enem['ESCOLARIDADE_MAE'] = df_enem['Q002'].map({'A':'Nunca estudou', 'B':'Não completou EF', 'C':'Completou EF','D':'Não completou EM', 'E':'Não completou ES', 'F':'Graduacao','G':'Pós-graduacao','H':'Não sabe'})
df_enem.head()

,NU_INSCRICAO,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,Q020,Q021,Q022,Q023,Q024,Q025,ATENDIMENTOS_ESPECIALIZADOS,QTD_RECURSOS,ESCOLARIDADE_PAI,ESCOLARIDADE_MAE
0,190001237802,22.0,F,Solteiro,Branca,Brasileira,1,4,?,1.0,...,A,A,C,B,B,B,Nao,0,Não completou ES,Não completou ES
1,190001237803,30.0,F,Solteiro,Preta,Brasileira,2,0,Publica,2.0,...,A,A,B,A,A,A,Nao,0,Não completou ES,Não completou ES
2,190001237804,27.0,M,Solteiro,Parda,Naturalizado,1,2,?,NaN,...,A,B,C,A,A,A,Nao,0,Não sabe,Não sabe
3,190001237805,22.0,F,Solteiro,Branca,Brasileira,1,5,?,1.0,...,B,A,E,A,B,B,Nao,0,Não completou ES,Completou EF
4,190001237806,23.0,F,Solteiro,Amarela,Brasileira,1,5,?,1.0,...,B,A,C,A,B,B,Nao,0,Não completou EF,Não completou EF

In [33]:
# Criaremos mais uma coluna de faixa de renda se baseando no FGV por valores mais proximos
# Utilizaremos 6 faixas de renda adaptando pelos valores do questionario
# CLASSES ECONÔMICAS*     LIMITE INFERIOR     LIMITE SUPERIOR
# Classe E                                          0                             R$ 1.254
# Classe D                                      R$ 1.255                    R$ 2.004
# Classe C                                      R$ 2.005                    R$ 8.640
# Classe B                                      R$ 8.641                    R$ 11.261
# Classe A                                      R$11.262                           - 
df_enem['RENDA_CLASSE'] = df_enem['Q006'].map({'A':'E', 'B':'E', 'C':'D', 'D':'D', 'E':'C', 'F':'C', 'G':'C', 'H':'C','I':'C', 'J':'C','K':'C', 'L':'C','M':'B','N':'B', 'O':'A','P':'A','Q':'A'})
df_enem.head()

,NU_INSCRICAO,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,Q021,Q022,Q023,Q024,Q025,ATENDIMENTOS_ESPECIALIZADOS,QTD_RECURSOS,ESCOLARIDADE_PAI,ESCOLARIDADE_MAE,RENDA_CLASSE
0,190001237802,22.0,F,Solteiro,Branca,Brasileira,1,4,?,1.0,...,A,C,B,B,B,Nao,0,Não completou ES,Não completou ES,C
1,190001237803,30.0,F,Solteiro,Preta,Brasileira,2,0,Publica,2.0,...,A,B,A,A,A,Nao,0,Não completou ES,Não completou ES,E
2,190001237804,27.0,M,Solteiro,Parda,Naturalizado,1,2,?,NaN,...,B,C,A,A,A,Nao,0,Não sabe,Não sabe,E
3,190001237805,22.0,F,Solteiro,Branca,Brasileira,1,5,?,1.0,...,A,E,A,B,B,Nao,0,Não completou ES,Completou EF,C
4,190001237806,23.0,F,Solteiro,Amarela,Brasileira,1,5,?,1.0,...,A,C,A,B,B,Nao,0,Não completou EF,Não completou EF,D

In [34]:
# Ajustar o questionario de renda
# Utilizaremos 7 faixas de renda adaptando pelos valores do questionario

df_enem['RENDA_ARBITRARIA'] = df_enem['Q006'].map({'A':'Nenhuma renda', 'B':'Até 1.497', 'C':'Até 1.497', 'D':'Até 3.992', 'E':'Até 3.992', 'F':'Até 3.992', 'G':'Até 3.992', 'H':'Até 5.988','I':'Até 5.988', 'J':'Até 7.984','K':'Até 7.984', 'L':'Até 11.976','M':'Até 11.976','N':'Até 11.976', 'O':'Mais de 11.976','P':'Mais de 11.976','Q':'Mais de 11.976'})
df_enem.head()

,NU_INSCRICAO,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,Q022,Q023,Q024,Q025,ATENDIMENTOS_ESPECIALIZADOS,QTD_RECURSOS,ESCOLARIDADE_PAI,ESCOLARIDADE_MAE,RENDA_CLASSE,RENDA_ARBITRARIA
0,190001237802,22.0,F,Solteiro,Branca,Brasileira,1,4,?,1.0,...,C,B,B,B,Nao,0,Não completou ES,Não completou ES,C,Até 3.992
1,190001237803,30.0,F,Solteiro,Preta,Brasileira,2,0,Publica,2.0,...,B,A,A,A,Nao,0,Não completou ES,Não completou ES,E,Até 1.497
2,190001237804,27.0,M,Solteiro,Parda,Naturalizado,1,2,?,NaN,...,C,A,A,A,Nao,0,Não sabe,Não sabe,E,Até 1.497
3,190001237805,22.0,F,Solteiro,Branca,Brasileira,1,5,?,1.0,...,E,A,B,B,Nao,0,Não completou ES,Completou EF,C,Até 3.992
4,190001237806,23.0,F,Solteiro,Amarela,Brasileira,1,5,?,1.0,...,C,A,B,B,Nao,0,Não completou EF,Não completou EF,D,Até 1.497

In [35]:
#Criar uma coluna contendo a media ponderada do resultado do exame
#Antes disso devemos verificar a situacao das colunas que compoe o calculo da media ponderada
#Verificar a quantidade de valores ausentes na prova de ciencias da natureza
df_enem['NU_NOTA_CN'].isna().sum()

143772

In [36]:
# Sao 143772 registros sem valor
# Verificar quantas pessoas nao realizaram a prova
df_enem['TP_PRESENCA_CN'].value_counts()

1    390855
0    143569
2       203
Name: TP_PRESENCA_CN, dtype: int64

In [37]:
# Tivemos 143569 pessoas que faltaram  e 203 que foram eliminados, total = 143772
#Iremos inserir o valor zero caso os registros sem valor sejam iguais aos que nao realizaram ou foram eliminados da prova
ciencias_natureza = df_enem[df_enem['TP_PRESENCA_CN']!=1]['NU_NOTA_CN']
print("Valores:",ciencias_natureza.unique(),"\nQuantidade:",len(ciencias_natureza))

Valores: [nan]
Quantidade: 143772

In [38]:
#todos registros NaN sao respectivos a pessoas que nao realizaram ou foram eliminados da prova de ciencias da natureza, inserindo o valor 0 para esses casos
df_enem['NU_NOTA_CN'] = np.where(df_enem['TP_PRESENCA_CN']!=1,0,df_enem['NU_NOTA_CN'])

In [39]:
#realizar o mesmo processo utilizando a variavel NU_NOTA_CH em relacao a variavel TP_PRESENCA_CH

In [40]:
df_enem['NU_NOTA_CH'].isna().sum()

123452

In [41]:
df_enem['TP_PRESENCA_CH'].value_counts()

1    411175
0    122985
2       467
Name: TP_PRESENCA_CH, dtype: int64

In [42]:
ciencias_humanas = df_enem[df_enem['TP_PRESENCA_CH']!=1]['NU_NOTA_CH']
print("Valores:",ciencias_humanas.unique(),"\nQuantidade:",len(ciencias_humanas))

Valores: [nan]
Quantidade: 123452

In [43]:
df_enem['NU_NOTA_CH'] = np.where(df_enem['TP_PRESENCA_CH']!=1,0,df_enem['NU_NOTA_CH'])

In [44]:
#realizar o mesmo processo utilizando a variavel NU_NOTA_MT em relacao a variavel TP_PRESENCA_MT

In [45]:
df_enem['NU_NOTA_MT'].isna().sum()

143772

In [46]:
df_enem['TP_PRESENCA_MT'].value_counts()

1    390855
0    143569
2       203
Name: TP_PRESENCA_MT, dtype: int64

In [47]:
matematica = df_enem[df_enem['TP_PRESENCA_MT']!=1]['NU_NOTA_MT']
print("Valores:",matematica.unique(),"\nQuantidade:",len(matematica))

Valores: [nan]
Quantidade: 143772

In [48]:
df_enem['NU_NOTA_MT'] = np.where(df_enem['TP_PRESENCA_MT']!=1,0,df_enem['NU_NOTA_MT'])

In [49]:
#realizar o mesmo processo utilizando a variavel NU_NOTA_LC em relacao a variavel TP_PRESENCA_LC

In [50]:
df_enem['NU_NOTA_LC'].isna().sum()

123452

In [51]:
df_enem['TP_PRESENCA_LC'].value_counts()

1    411175
0    122985
2       467
Name: TP_PRESENCA_LC, dtype: int64

In [52]:
linguagens_codigos = df_enem[df_enem['TP_PRESENCA_LC']!=1]['NU_NOTA_LC']
print("Valores:",linguagens_codigos.unique(),"\nQuantidade:",len(linguagens_codigos))

Valores: [nan]
Quantidade: 123452

In [53]:
df_enem['NU_NOTA_LC'] = np.where(df_enem['TP_PRESENCA_LC']!=1,0,df_enem['NU_NOTA_LC'])

In [54]:
# Realizar a verificacao com a redacao. A redacao possui uma estrutura diferente mas comecaremos com a verificacao de valores ausentes
df_enem['NU_NOTA_REDACAO'].isna().sum()

123452

In [55]:
#Verificando se ha status de redacao sem valor
df_enem['TP_STATUS_REDACAO'].isna().sum()

123452

In [56]:
#Temos 123452 registros sem valor da nota e do status da redacao 
#Selecionar somente os registros sem nota de redacao e realizar a analise da nota das competencias
df_na = df_enem[df_enem['TP_STATUS_REDACAO'].isna()]

In [57]:
#Verificar se as colunas de notas da redacao possuem valor
df_na[['NU_NOTA_COMP1','NU_NOTA_COMP2','NU_NOTA_COMP3',
'NU_NOTA_COMP4','NU_NOTA_COMP5']]

,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5
1,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
534615,NaN,NaN,NaN,NaN,NaN
534616,NaN,NaN,NaN,NaN,NaN
534617,NaN,NaN,NaN,NaN,NaN
534623,NaN,NaN,NaN,NaN,NaN
534625,NaN,NaN,NaN,NaN,NaN

In [58]:
print("Total sem valor criterio 1:",df_na['NU_NOTA_COMP1'].isna().sum(),
      "\nTotal sem valor criterio 2:",df_na['NU_NOTA_COMP2'].isna().sum(),
      "\nTotal sem valor criterio 3:",df_na['NU_NOTA_COMP3'].isna().sum(),
      "\nTotal sem valor criterio 4:",df_na['NU_NOTA_COMP4'].isna().sum(),
      "\nTotal sem valor criterio 5:",df_na['NU_NOTA_COMP5'].isna().sum())

Total sem valor criterio 1: 123452
Total sem valor criterio 2: 123452
Total sem valor criterio 3: 123452
Total sem valor criterio 4: 123452
Total sem valor criterio 5: 123452

In [59]:
# Removeremos as linhas sem valor de redacao
df_enem.drop(df_enem[df_enem['TP_STATUS_REDACAO'].isna()].index, inplace=True)
df_enem.shape

(411175, 80)

In [60]:
#Criar uma coluna contendo a media ponderada do resultado do exame
df_enem["RESULTADO"] = (df_enem['NU_NOTA_CN']*3+df_enem['NU_NOTA_CH']+df_enem['NU_NOTA_MT']*3+df_enem['NU_NOTA_REDACAO']*3+df_enem['NU_NOTA_LC']*2)/12

In [61]:
#Verificar se ha valores ausentes
df_enem["RESULTADO"].isna().sum()

0

### Salvar o dataset

In [62]:
df_enem.to_csv("./DADOS/enem_eng.csv",sep=";", index=False)